/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    * {
        padding: 0;
        margin: 0;
    }
    .navbar {
        height: 55px !important;
        border-bottom: 2px solid gray !important;
    }
    .nav-item {
        font-size: 1.5vw;
        font-family: Cambria;
        text-decoration: underline;
    }
    .form_container {
        width: 75%;
        text-align: center;
        margin-left: 14%;
        margin-top: 26%;
        padding: 2%;
        border-radius: 75px;
        background-color: #000000ab;
    }
    .form-control {
        width: 80%;
        margin-left: 37px;
        border-radius: 17px;
    }
    .label {
        color: white;
        font-family: initial;
    }
    .submit_button {
        background-color: rgb(234, 52, 69);
        border: none;
        color: white;
        width: 24%;
        height: 27px;
        border-radius: 9px;
        font-size: 15px;
        margin-left: 12px;
        margin-bottom: -2%;
        cursor: pointer;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    * {
        padding: 0;
        margin: 0;
    }
    .navbar {
        height: 55px !important;
        border-bottom: 2px solid gray !important;
    }
    .nav-item {
        font-size: 1.5vw;
        font-family: Cambria;
        text-decoration: underline;
    }
    .form_container {
        width: 28vw;
        text-align: center;
        margin-left: 35vw;
        margin-top: 6%;
        padding: 2%;
        border-radius: 75px;
        background-color: #000000ab;
    }
    .form-control {
        width: 80%;
        margin-left: 37px;
        border-radius: 17px;
    }
    .label {
        color: white;
        font-family: initial;
    }
    .submit_button {
        background-color: rgb(234, 52, 69);
        border: none;
        color: white;
        width: 24%;
        height: 27px;
        border-radius: 9px;
        font-size: 15px;
        margin-left: 12px;
        margin-bottom: -2%;
        cursor: pointer;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    * {
        padding: 0;
        margin: 0;
    }
    .navbar {
        height: 55px !important;
        border-bottom: 2px solid gray !important;
    }
    .nav-item {
        font-size: 1.5vw;
        font-family: Cambria;
        text-decoration: underline;
    }
    .form_container {
        width: 35%;
        text-align: center;
        margin-left: 33vw;
        margin-top: 12%;
        padding: 2%;
        border-radius: 75px;
        background-color: #000000ab;
    }
    .form-control {
        width: 80%;
        margin-left: 37px;
        border-radius: 17px;
    }
    .label {
        color: white;
        font-family: initial;
    }
    .submit_button {
        background-color: rgb(234, 52, 69);
        border: none;
        color: white;
        width: 34%;
        height: 27px;
        border-radius: 9px;
        font-size: 15px;
        margin-left: 12px;
        margin-bottom: -2%;
        cursor: pointer;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    * {
        padding: 0;
        margin: 0;
    }
    .navbar {
        height: 55px !important;
        border-bottom: 2px solid red !important;
    }
    .nav-item {
        font-size: 1.5vw;
        font-family: Cambria;
        text-decoration: underline;
    }
    .form_container {
        width: 28vw;
        text-align: center;
        margin-left: 35vw;
        margin-top: 6%;
        padding: 2%;
        border-radius: 75px;
        background-color: #000000ab;
    }
    .form-control {
        width: 80%;
        margin-left: 37px;
        border-radius: 17px;
    }
    .label {
        color: white;
        font-family: initial;
    }
    .submit_button {
        background-color: rgb(234, 52, 69);
        border: none;
        color: white;
        width: 24%;
        height: 27px;
        border-radius: 9px;
        font-size: 15px;
        margin-left: 12px;
        margin-bottom: -2%;
        cursor: pointer;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    * {
        padding: 0;
        margin: 0;
    }
    .navbar {
        height: 55px !important;
        border-bottom: 2px solid gray !important;
    }
    .nav-item {
        font-size: 23px;
        font-family: Cambria;
        text-decoration: underline;
    }
    .form_container {
        width: 27%;
        text-align: center;
        margin-left: 35vw;
        margin-top: 6%;
        padding: 2%;
        border-radius: 75px;
        background-color: #000000ab;
    }
    .form-control {
        width: 80%;
        margin-left: 37px;
        border-radius: 17px;
    }
    .label {
        color: white;
        font-family: initial;
    }
    .submit_button {
        background-color: rgb(234, 52, 69);
        border: none;
        color: white;
        width: 24%;
        height: 27px;
        border-radius: 9px;
        font-size: 15px;
        margin-left: 12px;
        margin-bottom: -2%;
        cursor: pointer;
    }
}